.card:hover {
  outline: 3px solid black;
}

.Freehand {
  font-family: 'Freehand', cursive;
}

.bg-lightGreen {
  background-color: #07AB80;
}

.bg-grey {
  background-color: rgba(167, 167, 167, 0.788);
}


.bg-magenta {
  background-color: rgb(160, 27, 131, 0);
}

.bg-hero {
  background: rgba(23, 62, 84, .4) url(20221029_185030.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 615px;
}

.pic-dal {
  background: rgba(23, 62, 84, .4) url(Snapchat-1091545746.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 360px;
  height: 580px;
}

.box {
  box-sizing: border-box;
  width: 77%;
  height: 169px;
  left: 91px;
  top: 368px;
  background: #FFFFFF;
  border: 1px solid rgba(91, 99, 110, 1);
}


.heading-box {
  width: 300px;
  height: 502px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 3px;
}

.more-btn {
  width: 115px;
  height: 29px;
  left: 1169px;
  top: 1585px;
  background: #07AB80;
  border-radius: 5px;
}

.submit-btn {
  width: 115px;
  height: 29px;
  left: 92px;
  top: 604px;

}

.move-up {
  transform: translateX(15vh);

}

.color-lightGreen {
  color: #07AB80;
}

@media (max-width: 768px) {
  header {
    position: fixed;
  }
}

@media (min-width: 992px) {
  .move-down {
    transform: translateY(5vh);
  }
}

@media (max-width: 768px) {
  .pic-dally {
    background: rgba(23, 62, 84, .4) url(Screenshot_20210317-105509_Snapchat.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 615px;
  }
}